.alert.alert-success.alert-dismissible(role="alert")
  button.close(type="button",data-dismiss="alert")
    span(aria-hidden="true") &times;
    span.sr-only Close
  | Your entry has been submitted successfully! Please bookmark or print this
  | page for your records.
.col-xs-12.col-sm-6.col-md-6.col-lg-4
  table.table-condensed
    tr
      td
        strong Name
      td #{name}
    tr
      td
        strong Email
      td #{email}
    tr
      td
        strong Final Game Score
      td #{winner_tb} to #{loser_tb}
    each game in games_list
      tr
        td
          strong #{game.game_name}
        td #{game.winning_team}

