.col-xs-12.col-sm-6.col-md-6.col-lg-4
  if team0.rank < 5
    .panel.panel-info(id=_id.$oid)
      .panel-heading
        h3.panel-title #{name}
      .panel-body.text-center
        p #{stadium}, #{location}
        p.small #{date} at #{time}
        .btn-group.btn-group-teams(data-toggle="buttons")
          label.btn.btn-default.btn-lg
            input(type="radio",name="options",id=team0.name,autocomplete="off")
            | #{team0.rank} #{team0.name}
          label.btn.btn-lg VS 
          label.btn.btn-default.btn-lg
            input(type="radio",name="options",id=team1.name,autocomplete="off")
            | #{team1.rank} #{team1.name}
  else
    .panel.panel-default(id=_id.$oid)
      .panel-heading
        h3.panel-title #{name}
      .panel-body.text-center
        p #{stadium}, #{location}
        p.small #{date} at #{time}
        .btn-group.btn-group-teams(data-toggle="buttons")
          label.btn.btn-default.btn-lg
            if team0.name == "Semifinal Winner"
              input(type="radio",name="options",autocomplete="off")
              #final0 #{team0.rank} #{team0.name}
            else
              input(type="radio",name="options",id=team0.name,autocomplete="off")
              | #{team0.rank} #{team0.name}
          label.btn.btn-lg VS 
          label.btn.btn-default.btn-lg
            if team1.name == "Semifinal Winner"
              input(type="radio",name="options",autocomplete="off")
              #final1 #{team1.rank} #{team1.name}
            else
              input(type="radio",name="options",id=team0.name,autocomplete="off")
              | #{team1.rank} #{team1.name}
