.visible-print-block.col-lg-4
  h6 #{name} 
    small.pull-right #{date} at #{time}
  if team0.name == "Semifinal Winner"
    h6 _________________
      .pull-right _________________
  else
    h6 #{team0.rank} #{team0.name}
      .pull-right #{team1.rank} #{team1.name}
.col-xs-12.col-sm-6.col-md-6.col-lg-4.hidden-print
  if team0.rank < 5
    .panel.panel-info(id=_id.$oid)
      .panel-heading
        h3.panel-title #{name}
      .panel-body.text-center
        p #{stadium}, #{location}
        p.small #{date} at #{time}
        .btn-group.btn-group-teams(data-toggle="buttons")
          label.btn.btn-default.btn-lg(disabled) #{team0.rank} #{team0.name}
            input(type="radio",name="options",id=team0.name,autocomplete="off") 
          label.btn.btn-lg VS 
          label.btn.btn-default.btn-lg(disabled) #{team1.rank} #{team1.name}
            input(type="radio",name="options",id=team1.name,autocomplete="off")
  else
    .panel.panel-default(id=_id.$oid)
      .panel-heading
        h3.panel-title #{name}
      .panel-body.text-center
        p #{stadium}, #{location}
        p.small #{date} at #{time}
        .btn-group.btn-group-teams(data-toggle="buttons")
          if team0.name == "Semifinal Winner"
            label.btn.btn-default.btn-lg(disabled)
              input(type="radio",name="options",autocomplete="off")
              #final0 #{team0.rank} #{team0.name}
          else
            label.btn.btn-default.btn-lg(disabled) #{team0.rank} #{team0.name}
              input(type="radio",name="options",id=team0.name,autocomplete="off")
          label.btn.btn-lg VS 
          if team1.name == "Semifinal Winner"
            label.btn.btn-default.btn-lg(disabled)
              input(type="radio",name="options",autocomplete="off")
              #final1 #{team1.rank} #{team1.name}
          else
            label.btn.btn-default.btn-lg(disabled) #{team1.rank} #{team1.name}
              input(type="radio",name="options",id=team0.name,autocomplete="off")
              
