td #{name}
td #{winner_tb} to #{loser_tb}
count = 0
each game in games_list
  if $.inArray(game.winning_team, app.collections.results) > -1 
    if game.game_id != "549206e767a3bf2246359d3f"
      td.alert-success #{game.winning_team}
      - count++
  else
    td.alert-danger #{game.winning_team}

td 
  b #{count}
